* {
    margin: 0;
}

body {
    height: 100vh;
    background-color:hsl(30, 38%, 92%);
}

main {
    display: flex;
    justify-content: center;
}

h2 {
    text-transform: uppercase;
}

.product {
    background-color: hsl(0, 0%, 100%);
    max-width: 15rem;
    display: grid;
    margin: 2rem;
    grid-template-columns: 1fr;
}

.product img {
    max-width: 100%;
}

.productinfo {
    padding: 2rem;
}

.attribution {
    display: none;
}

@media screen and (min-width 800px) {
    .product {
        grid-template-columns: 1fr 1fr;
        background-color: red;
    }
}